<%= render '/shared/error', object: @user %>

<div class="card">
  <div class="card-body">

    <%= form_with model: @user do |f| %>
      <div class="form-group">
        <%= label_tag(:username, "Username") %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag(:password, "Password") %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <%= f.submit (@user.new_record? ? "Register" : "Update"), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>