<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
  <%= link_to "Postit!", root_path, :class => 'navbar-brand' %>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <% Category.all.each do |category| %>
          <%= link_to category.name, category_path(category), class: "dropdown-item" %>
        <% end %>

        <% if logged_in? %>
          <div class="dropdown-divider"></div>
          <%= link_to "New Category", new_category_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </li>
    <% if logged_in? %>
      <li class="ml-2"><%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %></li>
      <li class="ml-2"><%= link_to 'Logout', logout_path, class: 'btn btn-danger btn-small' %></li>
    <% else %>
      <li class="ml-2"><%= link_to 'Login', login_path, class: 'btn btn-small' %></li>
      <li class="ml-2"><%= link_to 'Register', register_path, class: 'btn btn-small' %></li>
    <% end %>
    
  </ul>
</nav>
